<!DOCTYPE html>
<html>

<head>
    <title>Little Lemon Booking System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="bg-secondary text-white py-4">
        <div class="container">
            <h1 class="mb-0">Little Lemon Booking System</h1>

            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking' %}">Book</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>